
            h1{
                color:blue;      
                border: dashed;
            }
         .header{
             background-color: aqua;
             display: flex;
             justify-content: space-around ;
             font-size: larger;
             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            
         }
         .menu{
             background-color: blueviolet;
             justify-content: space-evenly;
         }
         .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
         }
         .footer{
            display: flex;
            justify-content: left;
         }

         body{
             background-color:#abcdef;
             background-image:url();
             font-family: Verdana, Geneva, Tahoma, sans-serif;
         }
